
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SurveyMaster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tailwind.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/surveys.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/survey-create.css" asp-append-version="true" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-background text-foreground antialiased min-h-screen flex flex-col">
    @await Html.PartialAsync("_NavbarPartial")
    
    <div class="container mx-auto pt-24 flex-grow">
        <main role="main" class="pb-12">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_FooterPartial")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
