
@model List<Tuple<SurveyApp.Web.Models.QuestionViewModel, int, int>>

<div class="space-y-4">
    @foreach (var question in Model)
    {
        @await Html.PartialAsync("_QuestionBuilderPartial", question)
    }
</div>
