
@model List<Tuple<SurveyApp.Web.Models.QuestionViewModel, int, int>>

<div class="space-y-4">
    @foreach (var questionTuple in Model)
    {
        var question = questionTuple.Item1;
        var index = questionTuple.Item2;
        var total = questionTuple.Item3;
        
        <div class="question-builder-container" data-question-index="@index">
            @await Html.PartialAsync("_QuestionBuilderPartial", questionTuple)
        </div>
    }
</div>
